.container {
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  background: linear-gradient(180deg, #d9d9d9 30.5%, #e0c99d 100%);
  padding-bottom: 37px;
}

.qa-section {
  margin-bottom: 10px;
  width: 700px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
}

.qa-section::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: black; 
  top: 0;
}

.qa-section:last-of-type::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; 
  background-color: black; 
  bottom: 0;
  margin-bottom: -10px;
}
  
.qa-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.qa-title {
  flex-grow: 1;
  margin: 0;
  padding: 15px 50px 15px 0;
}

.qa-content {
  width: 100%;
  padding: 0;
  margin: 10px 0 0;
  height: 60px;
}

.qa-button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border: none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  list-style: none;
  margin-bottom: 10px;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  touch-action: manipulation;
}