.card-edit-container{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding: 40px;
    margin: 10px 0px;
}

.color-old-price,.color-through, .style-strikeThrough{
    margin-top: 10px;
}