.container{
    background-color: #262261;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.square{
    width: 15px;
    height: 30px;
    background-color: #000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.logo{
    padding-left: 20px;
    padding-right: 10px;
}

.logo-link{
    display: flex;
}
.left-menu{
    color: white;
    font-weight: 600;
    display: flex;
    gap: 30px;
    margin-left: 15px;
}

.left-half{
    display: flex;
    align-items: center;
}

.sections{
    cursor: pointer;
    font-size: 20px;
}

.choosen-section{
    position: relative;
}

.choosen-section::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 3px solid #fff;
    margin-top: 49px;
}

.right-half{
    cursor: pointer;
    display: flex;
}

.strelka{
    align-self: center;
    margin-left: 5px;
}