.reg-wrapper{
    margin: 0 auto;
   height: 100%;
   padding: 20px 0;
   max-width: 470px;
   display: table;
   text-align: center;
}

.logo{
    width: 57px;
    height: 57px;
}
 
.form-container{
    display: table-cell;
    margin: 24px;
    white-space: normal;
    vertical-align: middle;
}

.form__input{
    border-width: 0 0 0 0;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    border-bottom: 1px solid grey;
    color: white;
}

.form__button{
    background-color:bisque;
    border-radius: 100px;
    align-self: center;
    border:inherit;
    font-size: 15px;
    padding: 10px 40px;
    cursor: pointer;
}

.help-link{
    color: grey;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
    padding: 30px 55px 37px;
    border-radius: 8px;
    background-color: rgba(0,0,0, .95);
    max-width: 410px;
    align-items: center;
}