


.logo{
    width: 57px;
    height: 57px;
}

.log-wrapper{
   
   margin: 0 auto;
   height: 100%;
   padding: 20px 0;
   max-width: 470px;
   display: table;
   text-align: center;
}

.form-container{
    display: table-cell;
    margin: 24px;
    white-space: normal;
    vertical-align: middle;
    
}
.form{
    box-sizing: border-box;
    padding: 30px 55px 37px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    background-color: rgba(255,255,255, .1);
    max-width: 410px;
    align-items: center;
    
}

.form__input{
    border-width: 0 0 0 0;
    border-bottom: 1px solid rgba(255,255,255, .3);
    background: transparent;
    outline: inherit;
    color: white;
    font-size: 20px;
    width: 100%;
}

.form__button{
    background: #ffe8c7;
    padding: 10px 67px 11px;
    border-radius: 100px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    border:inherit;
    
}




.form__link{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.5;
    margin: 0 6px;
}