



.log-wrapper{
   
   margin: 0 auto;
   height: 100%;
   padding: 20px 0;
   max-width: 500px;
   display: table;
   text-align: center;
}
.title-form{
    font-weight: 700;
    font-size: 24px;
    color: #333;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.form-container{
    display: table-cell;
    margin: 24px;
    white-space: normal;
    vertical-align: middle;
    
}
.form{
    box-sizing: border-box;
    padding: 30px 55px 37px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 15px;
    background-color: rgba(255,255,255, .5);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
    width: 500px;
    align-items: center;
    margin-top: 50px;
    
}

.form__input{
    font-weight: 500;
    border-width: 0 0 0 0;
    border-bottom: 1px solid rgba(51,51,51, .5);
    background: transparent;
    outline: inherit;
    color: white;
    font-size: 20px;
    width: 100%;
}

.form__button{
    background: #03bd59;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border:inherit;
    
}


.form__link{
    color: #333;
    font-size: 16px;
    text-decoration: none;
    margin: 0 6px;
}