@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
}

:root{
  --body-background-color: white;
  --placeholder-color: grey;
}

::placeholder{
  color: var(--placeholder-color);
}
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  background: var(--body-background-color);
}

#root{
  height: 100%;
  overflow: hidden;
}